a:hover, a:focus {
	color: #ff9900;
}

.site_logo {
	background: url(../../images/colors/orange/logo.png) no-repeat left top;
}

a.show_hide{
	background: url(../../images/colors/orange/top-site-show.png) no-repeat center top;
}

.tci_list li a.colored {
	color: #ff9900;
}

#access .menu ul li a:hover {
	color: #ff9900;
}
#access .menu ul li i {
	border-bottom: 4px solid #ff9900;
}
#access .menu ul li ul {
	border-top: 4px solid #ff9900;
}
#access .menu ul li ul li a:hover,
#access .menu ul li ul li.active a,
#access .menu ul li ul li a.selected {
	background: #ff9900 url(../../images/spacer.gif) no-repeat center bottom;
}

.tp-caption.big_orange{
	background-color:#ff9900;
}
.tp-caption.small_orange_nob{
	color: #ff9900;
}
.tp-caption.big_cont_area .bca_rarrow {
	background: #ff9900 url(../../../../images/sliders/revolution/arrow-white.png) no-repeat center 65px;
}		

a.but_go {
	background: #ff9900 url(../../images/elements/arrow_right.png) no-repeat 13px 10px;
}
a.but_go:hover {
	color: #fff;
	background-color: #ffad00;
}

a.knowmore_but {
	background-color: #ff9900;
}
a.knowmore_but:hover {
	color: #fff;
	background-color: #ffad00;
}

a.but_goback {
	background: #ff9900 url(../../images/arrow_left.png) no-repeat 18px 13px;
	border-bottom: 1px solid #454545;
}
a.but_goback:hover {
	color: #fff;
	background-color: #ffad00;
}

a.but_hand_right {
	background: #ff9900 url(../../images/elements/hand_right.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_hand_right:hover {
	color: #fff;
	background-color: #ffad00;
}

.blog_post a.date {
	background: #ffad00;
	border: 1px solid #f09409;
}
.blog_post a.date i {
	border-top: 1px solid #f09409;
	background-color: #ff9900;
}

.blog_post h3 a:hover {
	color: #ff9900;
}

#site-searchform #searchsubmit{
	background: #ff9900 url(../../images/site-search-icon.png) no-repeat center 8px;
}
	
.our_services_list li.left:hover {
	background-color: #ff9900;
}
.our_services_list li.left.active {
	background-color: #ff9900;
}
.our_services_list li.right a:hover {
	color: #ff9900;
}
	
.jcarousel-skin-tango .jcarousel-item:hover .plike {
	background: #fff url(../../images/colors/orange/heart-icon-colored.png) no-repeat 2px 5px;
}		
		
.punch_text_wimgl i {
	color: #ff9900;
}		
		
.acc-trigger a { background: url(../../images/colors/orange/accordion-ico.png) no-repeat 20px 13px;}
.acc-trigger a:hover { background-color: #ff9900; color: #fff; border-bottom: 1px solid #fff;  }
.acc-trigger.active a, .acc-trigger.active a:hover { color: #ff9900; border-bottom: 1px solid #fff;  }		
		
a.arrow1 {
	color: #ff9900;
	background: url(../../images/colors/orange/arrow-1.png) no-repeat left 6px;
}	

.whatclient_says {
	background: #fff url(../../images/colors/orange/testi-photo-bg.png) no-repeat center 11px;
}

.bottom_banner_section {
	background: url(../../images/colors/orange/bottom-banner-cont-bg.jpg) no-repeat center top;
}

.slider_punch_text strong i {
	color: #ff9900;
}

.big_text1 i {
	color: #ff9900;
}

.big_text2 i {
	color: #ff9900;
}

.punchline_text_box {
	border-left: 5px solid #ff9900;
}

.nivo-caption {
	border-left: 5px solid #ff9900;
}

.iosSlider .slider .item .inner .text2 span {
	color: #ff9900;
}
.sliderContainer .slideSelectors .selected {
	background: #ff9900;
}

.slider_static_image b {
	color: #ff9900;
}

.slider_video b {
	color: #ff9900;
}

blockquote {
	border-left: 5px solid #ff9900;
}

.pricing-tables-helight .title {
	background-color: #ff8d00;
	border-top: 3px solid #ff6e00;
	border-bottom: 1px solid #ffa600;
}
.pricing-tables-helight .price {
	background-color: #ff9900;
}
.button.small.colorchan{
	color: #fff;
	background-color: #ff9900;
}
.pricing-tables-helight-two .title {
	background-color: #ff8d00;
	border-top: 3px solid #ff6e00;
	border-bottom: 1px solid #ffa600;
}
.pricing-tables-helight-two .price {
	background-color: #ff9900;
}

html ul.tabs li.active, html ul.tabs li.active a,  html ul.tabs li.active a:hover  { 
	border-top: 2px solid #ff9900;
}

html ul.tabs-two li.active, html ul.tabs-two li.active a,  html ul.tabs-two li.active a:hover  { 
	color:#ff9900;
}

.sidebar_widget h3 {
	background: url(../../images/colors/orange/sidebar-title-bline.png) no-repeat left bottom;
}
.clientsays_widget h3 {
	background: url(../../images/colors/orange/sidebar-title-bline.png) no-repeat left bottom;
}

.sidebar_widget ul.arrows_list1 li a:hover {
	color: #ff9900;
}

.arrows_list1 li a:hover {
	background: url(../../images/colors/orange/arrow-1.png) no-repeat left 5px;
}

.recent_posts_list li a:hover {
	color: #ff9900;
}

.address-info a {
	color: #ff9900;
}
