a:hover, a:focus {
	color: #ffd200;
}

.site_logo {
	background: url(../../images/colors/yellow/logo.png) no-repeat left top;
}

a.show_hide{
	background: url(../../images/colors/yellow/top-site-show.png) no-repeat center top;
}

.tci_list li a.colored {
	color: #ffd200;
}

#access .menu ul li a:hover {
	color: #ffd200;
}
#access .menu ul li i {
	border-bottom: 4px solid #ffd200;
}
#access .menu ul li ul {
	border-top: 4px solid #ffd200;
}
#access .menu ul li ul li a:hover,
#access .menu ul li ul li.active a,
#access .menu ul li ul li a.selected {
	background: #ffd200 url(../../images/spacer.gif) no-repeat center bottom;
}

.tp-caption.big_orange{
	background-color:#ffd200;
}
.tp-caption.small_orange_nob{
	color: #ffd200;
}
.tp-caption.big_cont_area .bca_rarrow {
	background: #ffd200 url(../../../../images/sliders/revolution/arrow-white.png) no-repeat center 65px;
}		

a.but_go {
	background: #ffd200 url(../../images/elements/arrow_right.png) no-repeat 13px 10px;
}
a.but_go:hover {
	color: #fff;
	background-color: #ffe200;
}

a.knowmore_but {
	background-color: #ffd200;
}
a.knowmore_but:hover {
	color: #fff;
	background-color: #ffe200;
}

a.but_goback {
	background: #ffd200 url(../../images/arrow_left.png) no-repeat 18px 13px;
	border-bottom: 1px solid #454545;
}
a.but_goback:hover {
	color: #fff;
	background-color: #ffe200;
}

a.but_hand_right {
	background: #ffe200 url(../../images/elements/hand_right.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_hand_right:hover {
	color: #fff;
	background-color: #ffd200;
}

.blog_post a.date {
	background: #ffe200;
	border: 1px solid #f5cb07;
}
.blog_post a.date i {
	border-top: 1px solid #f5cb07;
	background-color: #ffd200;
}

.blog_post h3 a:hover {
	color: #ffd200;
}

#site-searchform #searchsubmit{
	background: #ffd200 url(../../images/site-search-icon.png) no-repeat center 8px;
}
	
.our_services_list li.left:hover {
	background-color: #ffd200;
}
.our_services_list li.left.active {
	background-color: #ffd200;
}
.our_services_list li.right a:hover {
	color: #ffd200;
}
	
.jcarousel-skin-tango .jcarousel-item:hover .plike {
	background: #fff url(../../images/colors/yellow/heart-icon-colored.png) no-repeat 2px 5px;
}		
		
.punch_text_wimgl i {
	color: #ffd200;
}		
		
.acc-trigger a { background: url(../../images/colors/yellow/accordion-ico.png) no-repeat 20px 13px;}
.acc-trigger a:hover { background-color: #ffd200; color: #fff; border-bottom: 1px solid #fff;  }
.acc-trigger.active a, .acc-trigger.active a:hover { color: #ffd200; border-bottom: 1px solid #fff;  }		
		
a.arrow1 {
	color: #ffd200;
	background: url(../../images/colors/yellow/arrow-1.png) no-repeat left 6px;
}	

.whatclient_says {
	background: #fff url(../../images/colors/yellow/testi-photo-bg.png) no-repeat center 11px;
}

.bottom_banner_section {
	background: url(../../images/colors/yellow/bottom-banner-cont-bg.jpg) no-repeat center top;
}

.slider_punch_text strong i {
	color: #ffd200;
}

.big_text1 i {
	color: #ffd200;
}

.big_text2 i {
	color: #ffd200;
}

.punchline_text_box {
	border-left: 5px solid #ffd200;
}

.nivo-caption {
	border-left: 5px solid #ffd200;
}

.iosSlider .slider .item .inner .text2 span {
	color: #ffd200;
}
.sliderContainer .slideSelectors .selected {
	background: #ffd200;
}

.slider_static_image b {
	color: #ffd200;
}

.slider_video b {
	color: #ffd200;
}

blockquote {
	border-left: 5px solid #ffd200;
}

html ul.tabs li.active, html ul.tabs li.active a,  html ul.tabs li.active a:hover  { 
	border-top: 2px solid #ffd200;
}

html ul.tabs-two li.active, html ul.tabs-two li.active a,  html ul.tabs-two li.active a:hover  { 
	color:#ffd200;
}

.sidebar_widget h3 {
	background: url(../../images/colors/yellow/sidebar-title-bline.png) no-repeat left bottom;
}
.clientsays_widget h3 {
	background: url(../../images/colors/yellow/sidebar-title-bline.png) no-repeat left bottom;
}

.sidebar_widget ul.arrows_list1 li a:hover {
	color: #ffd200;
}

.arrows_list1 li a:hover {
	background: url(../../images/colors/yellow/arrow-1.png) no-repeat left 5px;
}

.recent_posts_list li a:hover {
	color: #ffd200;
}

.address-info a {
	color: #ffd200;
}

.pricing-tables-helight .title {
	background-color: #ffd900;
	border-top: 3px solid #ffcd00;
	border-bottom: 1px solid #ffed00;
}
.pricing-tables-helight .price {
	background-color: #ffe400;
}
.button.small.colorchan{
	color: #fff;
	background-color: #ffe400;
}
.pricing-tables-helight-two .title {
	background-color: #ffd900;
	border-top: 3px solid #ffcd00;
	border-bottom: 1px solid #ffed00;
}
.pricing-tables-helight-two .price {
	background-color: #ffe400;
}
